[Unit]
Description=Saving Satoshi Backend
After=network.target

[Service]
Type=simple
User=satoshi
ExecStart=/usr/bin/node dist/index.js
WorkingDirectory={{ app_root }}
Restart=always

StandardOutput=journal
StandardOutput=append:/var/log/saving-satoshi-backend/all.log
StandardError=journal
StandardError=append:/var/log/saving-satoshi-backend/all.log

[Install]
WantedBy=multi-user.target
